{% include "header.html" %}

    <h1>Change Password</h1>

    <form action="updatepasswordsubmit" method="post">
        <table>
        <tr><th>Re-enter Old Password</th></tr>
                <td><input type="text" name="oldpassword"/></td></tr>
        <tr><th>Enter New Password</th></tr>
                <td><input type="password" name="newpassword"/></td></tr>
        <tr><td><input type="submit" value="Change Password"/></td></tr>
        </table>
    </form>
    {% if session["is_successful"] == false %}
    <div style="color:red">
        Wrong Old Password. Please try again.
    </div>
    {% endif %}


{% include "footer.html" %}